/*one.html*/

div.pic img {
    width: 100%;
}

.one_nav {
    width: 840px;
    margin: 20px auto 0px;
}

.one_nav ul li {
    width: 240px;
    margin: 0px 20px;
    float: left;
    line-height: 18px;
    padding-bottom: 30px;
    position: relative;
}

.one_nav ul:after {
    display: table;
    content: '';
    clear: both;
    width: 0px
}

.one_nav ul li img {
    width: 100%;
    outline: 1px solid #009646;
}

.one_nav ul li .time {
    width: 130px;
    height: 24px;
    line-height: 24px;
    background: #009646;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 10px;
    padding: 0px 10px 0px 8px;
    opacity: 0.9;
}

.one_nav ul li span {
    line-height: 18px;
    letter-spacing: 0px;
    padding: 5px 0px 16px 12px;
    display: inline-block;
    background: #fff;
    margin-top: -10px;
}

.one_nav ul li .tc {
    width: 80px;
    height: 22px;
    background: #009646;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    margin: 10px auto 0px;
}
.one_nav ul li .tc a{ color: #fff;}
.one_rules {
    width: 700px;
    height: 260px;
    margin: 80px auto 0px;
}

.one_rules .title {
    width: 686px;
    height: 40px;
    line-height: 40px;
    background: #D7413A;
    color: #fff;
    font-size: 14px;
    padding-left: 14px;
}

.one_rules .text {
    width: 698px;
    height: 220px;
    background: #fcfcfc;
    border: 1px solid #e6e6e6;
    border-top: none;
}

.one_rules .text > p {
    line-height: 20px;
    letter-spacing: 0px;
    margin-left: 20px;
}

.one_rules .text > p:first-child {
    padding-top: 20px;
}


/*order_submit.html*/

.view {
    width: 100%;
    background: #fff;
}

.oa_title {
    font-size: 16px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0px;
    padding-left: 20px;
}

.oa_tab {
    margin: 10px auto 0px;
}

.oa_tab table tr td:nth-child(1) {
    width: 75px;
    text-align: center;
}

.oa_tab table tr td:nth-child(3) {
    width: 70px;
    text-align: center;
}

.oa_tab table tr td:nth-child(1) img {
    width: 20px;
    cursor: pointer;
}

.oa_tab table tr td:nth-child(3) img {
    width: 20px;
    cursor: pointer;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.oa_tab table tr td:nth-child(2) {
    width: 1055px;
}

.oa_tab .oa_box {
    border: 1px solid #e6e6e6;
    width: 100%;
    height: 180px;
}

.oa_box ul li {
    float: left;
    width: 230px;
    height: 130px;
    margin: 25px 0px 25px 24px;
    border: 1px solid #999;
    font-weight: 900;
}

.oa_box ul li p:nth-child(1) {
    width: 185px;
    line-height: 30px;
    margin: 4px auto 0px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0px 10px;
}

.oa_box ul li p:nth-child(2),
.oa_box ul li p:nth-child(3),
.oa_box ul li p:nth-child(4) {
    margin-left: 22px;
}

.oa_box ul li p:nth-child(3) {
    line-height: 16px;
}

.oa_box ul li:first-child {
    margin-left: 30px;
}

.oa_box ul:after {
    display: table;
    content: '';
    clear: both;
    width: 0px
}

.oa_box .oa_on {
    border: 2px solid #f18e00;
}

.oa_box .oa_new {
    text-align: center;
    cursor: pointer;
}

.oa_box .oa_new span:nth-child(1) {
    color: #999;
    font-size: 34px;
    display: inline-block;
    line-height: 130px;
}

.oa_box .oa_new span:nth-child(2) {
    color: #999;
    font-size: 14px;
    display: inline-block;
    line-height: 130px;
    position: relative;
    left: 5px;
    top: -8px;
}

.oa_tab .edit {
    text-align: right;
    margin-right: 65px;
    color: #009646;
}

.oa_head {
    width: 100%;
    border-bottom: 2px solid #009646;
}

.oa_head tr td,
.oa_head tr td span {
    line-height: 38px;
}

.view .oa_store {
    margin: 10px 0px 10px 20px;
}

.oa_store span {
    margin-left: 6px;
}

.oa_info {
    width: 1200px;
}

.oa_info .oa_goods {
    width: 1198px;
    border: 1px solid #dbdbdb;
    border-bottom: none;
}

.oa_info .oa_sum {
    width: 1200px;
    height: 62px;
    padding: 10px 0px;
    background: #f5f5f5;
}

.oa_goods tr td {
    height: 100px;
}

.oa_goods .oa_td1 input {
    margin-left: 20px;
}

.oa_goods .oa_td2 img {
    width: 100%;
}

.oa_goods .oa_td3,
.oa_goods .oa_td4,
.oa_goods .oa_td5,
.oa_goods .oa_td6,
.oa_goods .oa_td7 {
    vertical-align: super;
}

.oa_goods .oa_td3 span {
    display: block;
    line-height: 16px;
    margin-top: 16px;
    padding: 0px 10px;
}

.oa_goods .oa_td4 {
    line-height: 24px;
    padding: 0px 0px 0px 20px;
}

.oa_goods .oa_td7 {
    color: #009646;
}

.oa_sum > span:nth-child(1) {
    margin-left: 20px
}

.oa_sum > input:nth-child(2) {
    width: 240px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #dbdbdb;
    margin-left: 16px;
}

.oa_sum > span:nth-child(3) {
    margin-left: 200px
}

.oa_sum > span:nth-child(4) {
    float: right;
    margin-right: 47px;
    color: #009646;
}

.oa_sum p {
    text-align: right;
    margin-right: 47px;
}

.oa_sum p span {
    font-size: 18px;
    color: #009646;
}

.oa_calc {
    width: 400px;
    height: 106px;
    border: 2px solid #f18e00;
    float: right;
    text-align: right;
    margin-top: 40px;
}

.oa_calc p {
    line-height: 20px;
    margin: 10px 20px 0px 0px;
}

.oa_calc .oa_price {
    color: #009646;
    font-weight: 900;
    font-size: 14px;
}

.oa_calc .oa_price span {
    font-size: 18px;
    color: #009646;
    line-height: 1em;
    font-weight: 900;
}

.oa_submit {
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f18e00;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: 8px;
}


/*order_add.html*/

#bgdiv {
    width: 100%;
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.oa_openbox {
    width: 860px;
    margin: 0px auto;
    height: 540px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 180px;
    background: #fff;
    z-index: 20;
}

.oa_openbox .oa_top {
    height: 40px;
    background: #e0e0e0;
}

.oa_top span {
    font-size: 14px;
    line-height: 40px;
    margin-left: 20px;
    font-weight: 900;
}

.oa_top i {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    margin: 9px 15px;
    background-position: -36px -25px;
}

.oa_openbox .oa_content {
    width: 100%;
}

.oa_content tr td {
    line-height: 40px;
}

.oa_content tr td input[type='text'],
.oa_content tr td textarea {
    padding-left: 8px;
}

.oa_content tr td input[type='text'],
.oa_content tr td select {
    height: 24px;
    line-height: 24px;
    border: 1px solid #e6e6e6;
}

.oa_content tr td:nth-child(1) {
    width: 100px;
    text-align: right;
}

.oa_content tr td:nth-child(1) span {
    margin-right: 6px;
    letter-spacing: 0px;
}

.oa_content tr td:nth-child(2) {
    width: 760px;
    letter-spacing: 0px;
}

.oa_content tr:nth-child(2) td select {
    width: 110px;
    margin-right: 5px;
}

.oa_content tr:nth-child(3) td textarea {
    width: 468px;
    height: 88px;
    border: 1px solid #e6e6e6;
}

.oa_content tr:nth-child(4) td input,
.oa_content tr:nth-child(5) td input {
    width: 280px;
}

.oa_content tr:nth-child(6) td:nth-child(2) span,
.oa_content tr:nth-child(7) td:nth-child(2) span {
    width: 70px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    padding-left: 5px;
    margin-right: 5px;
}

.oa_content tr:nth-child(6) td input {
    width: 178px;
}

.oa_content tr:nth-child(7) td input:nth-child(2) {
    width: 58px;
    margin-right: 5px;
}

.oa_content tr:nth-child(7) td input:nth-child(3) {
    width: 88px;
    margin-right: 5px;
}

.oa_content tr:nth-child(7) td input:nth-child(4) {
    width: 58px;
    margin-right: 5px;
}

.oa_content tr td input[type='submit'] {
    width: 100px;
    height: 34px;
    line-height: 34px;
    border: none;
    background: #009646;
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 5px;
    cursor: pointer;
    margin-top: 10px;
}


/*group_list.html*/

.group_img {
    width: 100%;
}

.group_list ul li {
    width: 286.5px;
    height: 372px;
    background: #fff;
    float: left;
    overflow: hidden;
    margin: 18px 18px 0px 0px;
}

.group_list ul:after {
    display: table;
    content: '';
    clear: both;
    width: 0px
}

.group_list ul li:first-child {
    width: 591px;
}

.group_list ul li:first-child img {
    width: 100%;
}

.group_list ul li:nth-of-type(4n+3) {
    margin-right: 0px;
}

.group_list ul li:not(:first-child) img {
    width: 239px;
    margin: 3px auto 0px;
    display: block;
}

.group_list ul li p {
    font-size: 12px;
    line-height: 18px;
    height: 36px;
    max-height: 36px;
    overflow: hidden;
    margin: 10px 14px;
    letter-spacing: 0px;
}

.group_buy {
    width: 100%;
    height: 40px;
    border-top: 1px solid #b3b3b3;
}

.group_buy > div {
    float: left;
}

.group_buy > div:nth-child(1) {
    width: 172.5px;
    line-height: 40px;
}

.group_buy > div:nth-child(1) span:nth-child(1) {
    color: #009646;
    margin:0px 8px 0px 14px;
    font-size: 14px;
}

.group_buy > div:nth-child(2) {
    width: 114px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #009646;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0px;
}

.group_buy:after {
    display: table;
    content: '';
    clear: both;
    width: 0px
}

.group_text {
    padding:28px 35px 55px;
}

.group_text p {
    line-height: 16px;
}